.header {
	width: 100%;
	text-align: left;
}

h2 {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 20px;
	text-align: left;
}

h3 {
	text-align: left;
	color: #475470;
	margin: 5px 0 30px 0;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}

h3 strong {
	font-weight: 700;
}

.twitter-share-button {
	margin-left: 10px;
}

.demo-container p {
	text-align: left;
	margin-bottom: 30px;
	font-family: Georgia, serif;
	font-size: 17px;
	line-height: 25px;
}

.demo-container p span {
	font-size: 42px;
	font-weight: 600;
	padding-right: 5px;
}

.demo-container p.intro::first-letter{
	font-size: 300%;
	padding-right: 5px;
	vertical-align: baseline;
}

.demo-container .flex-wrap {
	display: flex;
}

.jw-widget {
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

#ads-video-player {
	min-width: 320px;
	display: inline-block;
	margin-left: 20px;
}