<div class="demos-index-header">
	<div class="demos-index-header-container">
		<a class="demos-index-header-icon" href="{{&path.href}}">
	    <img src="//icons.jwplayer.com/dev-portal/demos.svg">
	  </a>
	  <h1>JW Player Demos &amp; Code Examples</h1>
	  {{> search-input}}
	</div>
</div>
