<div class="demos-index-header">
	<div class="demos-index-header-container">
		<a class="demos-index-header-icon" href="{{&path.href}}">
	    <img src="https://developer.jwplayer.com/img/demos.png">
	  </a>
	  <h1>JW Player Demos &amp; Code Examples</h1>
	  {{> search-input}}
	</div>
</div>
