<!DOCTYPE html>
<html>
  {{> document-head}}
  <body>
    <div class="site">
      {{> site-header}}
      <div class="site-body">
        <div class="page">
          <div class="page-body">
            {{> site-secondary-header}}
