          </div>
        </div>
      </div>
      {{> global-site-footer}}
    </div>
		<div class="nerd-alert">
			<img src="{{&path.file}}img/nerd-alert.gif">
		</div>
    {{#js}}
      {{> js}}
    {{/js}}
  </body>
</html>
