<footer class="global-site-footer">
  <div class="global-site-footer-container">
    <div class="product-links-row">
      <div class="product-link-block" {%if include.selected == 'player' %}class="product-link-block selected"{% endif %}>
        <a href="//www.jwplayer.com">
          <div class="product">JW Player</div>
          <div class="description">Browse our products, company, resources, and pricing</div>
        </a>
      </div>
      <div class="product-link-block" {%if include.selected == 'dashboard' %}class="product-link-block selected"{% endif %}>
        <a href="//dashboard.jwplayer.com">
          <div class="product">Dashboard</div>
          <div class="description">Content, players, analytics, and account management</div>
        </a>
      </div>
      <div class="product-link-block" {%if include.selected == 'developer' %}class="product-link-block selected"{% endif %}>
        <a href="//developer.jwplayer.com">
          <div class="product">Developer</div>
          <div class="description">Join the community, demos, references, dev guides, and tools.</div>
        </a>
      </div>
      <div class="product-link-block" {%if include.selected == 'support' %}class="product-link-block selected"{% endif %}>
        <a href="//support.jwplayer.com">
          <div class="product">Support</div>
          <div class="description">Search the articles, ask the community, or give feedback</div>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-base-row">
    <div class="copyright">
      &copy; 2016 - <script>document.write(new Date().getFullYear())</script> | Longtail Ad Solutions, Inc. All Rights Reserved. JW Player is a registered trademark.
    </div>
    <div class="footer-links">
      <a href="//www.jwplayer.com/careers/">Careers</a>
      <a href="//www.jwplayer.com/tos/">Terms of Service</a>
      <a href="//www.jwplayer.com/privacy/">Privacy Policy</a>
      <a href="//www.jwplayer.com/dmca/">DMCA</a>
      <a href="//www.jwplayer.com/privacy/#ad-choices">Ad Choices</a>
    </div>
  </div>
</footer>
