<script type="text/javascript" data-prettify="#demo-code">{{{js}}}</script>
<script type="text/javascript">
	jwplayer().on('ready', function() {
		document.getElementById('demo-player-version').innerHTML = jwplayer.version.split('+')[0];
	});
</script>
