<script type="text/javascript">{{{js}}}</script>
<script type="text/javascript">
if (jwplayer().id) {
	jwplayer().on('ready', function() {
		document.getElementById('demo-player-version').innerHTML = jwplayer.version.split('+')[0];
	});
}
{{#author}}
  {{#email}}
    $(document).ready(function() {
      $('.author-email').attr('href', '{{leftHandSide}}' + '@' + '{{rightHandSide}}');
    });
  {{/email}}
{{/author}}
</script>
