{{> document-top}}

<div class="demos demos-search">

  <div class="page-hero">
    <div class="page-hero-container">
      <a href="{{&path.href}}"><img src="//icons.jwplayer.com/dev-portal/demos.svg"></a>
      <h1>JW Player Demos &amp; Code Examples</h1>
      {{> search-box}}
    </div>
  </div>

  <div class="demo-index demo-index-{{indexType}}">

    <ul class="demo-index-nav">
      {{#categories}}
        <li><a href="{{&path.href}}{{#directory}}{{directory}}{{/directory}}"{{#current}} class="selected"{{/current}}>{{name}}</a></li>
      {{/categories}}
    </ul>

    <p class="demo-index-desc">
      Search results for: <strong></strong>
    </p>

    <ul class="demo-index-list"></ul>
    <div class="demo-index-list-empty demo-index-list-empty-hidden">
			<p>Your search "<span></span>" did not match any demos.</p>
			<p>Search Tips</p>
			<ul>
				<li>Double check your spelling.</li>
				<li>Try using single words (e.g. 360, adaptive).</li>
				<li>Try searching for a feature that is less specific.</li>
				<li>Select an API call from our type-ahead suggestions.</li>
				<li>See our JavaScript API Reference for all available API calls and responses.</li>
				<li><a class="im-feeling-nerdy" href="#">I'm Feeling Nerdy!</a></li>
			</ul>
		</div>

  </div>

</div>

{{> document-bottom}}
