<form class="search" action="{{&path.href}}search/" method="get">
  <div class="search-input">
		<input class="search-input-field" type="search" name="q" placeholder="Search for demos by keyword or API call" autocomplete="off">
	  <button class="search-input-clear" type="button"></button>
	  <div class="search-input-suggestions"></div>
  </div>
	<a class="feeling-nerdy" href="#">I'm Feeling Nerdy</a>
</form>
<!-- <div class="search-buttons">
	<button type="submit" class="button">Search</button>
	<button type="button" class="button">I'm Feeling Nerdy!</button>
</div> -->
