<div class="site-secondary-header">
  <a href="//developer.jwplayer.com/jw-player/" class="selected">JW Player</a>
  <a href="//developer.jwplayer.com/jw-platform/">JW Platform</a>
  <a href="//developer.jwplayer.com/android-sdk/">Android SDK</a>
  <a href="//developer.jwplayer.com/ios-sdk/">iOS SDK</a>
</div>
