.message {
  font-size: 22px;
  font-weight: 400;
  color: #000;
}

.message.button {
  background-color: #0B7EF4;
  color: #fff;
  text-transform: none;
}

.message.button:hover {
  background-color: #0F4E90;
}

.arrow {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}
