.ListItems div {
align-content: left;
width: 480px; height: 200px;
text-indent: 0px;
background: #0e4d8f;
box-shadow: inset 0 3px 10px rgba(0,0,0,.85);
-webkit-box-shadow: inset 0 3px 10px rgba(0,0,0,.85);
-moz-box-shadow: inset 0 3px 10px rgba(0,0,0,.85);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
font-family: helvetica;
color: #0e4d8f;
text-decoration: none;
list-style-type: none;
list-style-position:inside;
padding:0 0 0 0px;
        
}

.ListItems div li {
display: block;
float: left;
list-style-type: none;
list-style: none;
padding: 15px 0 0 11px;
line-height:200%
}

.ListItems div a {
text-indent: 0px;
display: block;
background: #0e4d8f;
border: 1px solid #666;
height: 75px; width: 120px;
margin: 0;
color: #ffffff;
text-decoration: none;
text-align:center;
margin: 0;
list-style-type: none;
list-style-position:inside;
margin:0;
line-height:200%;
}

.ListItems div a:hover {
list-style-type: none;
border: 1px solid #ff0046;
}

/* Set the global Background color of the player elements */
.jw-skin-seven .jw-background-color {
	background: #0e4d8f !important;
}

/* Changes ONLY the color of the duration text in the controlbar */
.jw-skin-seven .jw-text-duration {
	color: rgba(255,255,255,.5) !important;
}

/* Changes ONLY the color of the buffer bar in the timeslider */
.jw-skin-seven .jw-buffer {
	background: rgba(255,255,255,.5) !important; 
}
