/* Add your CSS here
Below are examples for how to customize the player skin
*/

.jw-skin-seven .jw-background-color {
	background: #0e4d8f !important;
}

.jw-skin-seven .jw-text-duration {
	color: rgba(255,255,255,.5) !important;
}

.jw-skin-seven .jw-buffer {
	background: rgba(255,255,255,.5) !important; 
}
