@import url('https://fonts.googleapis.com/css?family=Oswald:400,500|Merriweather:300,400');


/* Idle state with titles and overlay */
.jwplayer.jw-state-idle .jw-controls {
  background-color: rgba(255, 255, 255, .55);
  cursor: pointer;
}

.jwplayer.jw-state-idle .jw-title {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.jwplayer .jw-title-primary {
  font-size: 50px;
  color: #E54B4B;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  padding-bottom: 15px;
}

.jwplayer .jw-title-secondary {
  font-size: 18px;
  max-width: 70%;
  margin: 0 auto;
  color: #1E1E1E;
  text-align: center;
  font-family: 'Merriweather', serif;
  white-space: normal;
  line-height: 1.3;
}

.jwplayer .jw-display-controls .jw-display-icon-container .jw-icon {
  display: none;
}


/* Control Bar */
.jwplayer .jw-display {
  padding-bottom: 45px;
}

.jwplayer .jw-controls::after {
  background: none;
}

.jwplayer .jw-controlbar {
  background-color: #fff;
}

.jwplayer .jw-controlbar .jw-button-container .jw-button-color {
  color: #1E1E1E;
}

.jwplayer .jw-controlbar .jw-button-container .jw-button-color:hover {
  color: #92DCE5;
}


/* Tool Tips */
.jwplayer .jw-controlbar .jw-tooltip {
  bottom: 70%;
}

.jwplayer .jw-controlbar .jw-tooltip.jw-open {
  border-radius: 5px;
  color: #92DCE5;
}

.jwplayer .jw-controlbar .jw-tooltip .jw-text {
  background-color: #92DCE5;
  border-radius: 5px;
  border: 0;
}

.jwplayer .jw-controlbar .jw-text {
  color: #1E1E1E;
}

.jwplayer .jw-volume-tip,
.jwplayer .jw-time-tip {
  padding-bottom: 0;
}


/* Volume Control */
.jwplayer .jw-overlay .jw-slider-volume .jw-slider-container .jw-knob {
  background-color: #E54B4B;
}


/* Time Slider */
.jwplayer .jw-controlbar .jw-slider-time .jw-slider-container .jw-rail {
  background-color: #1E1E1E;
}

.jwplayer .jw-controlbar .jw-slider-time .jw-slider-container .jw-buffer {
  background-color: #616161;
}

.jwplayer .jw-controlbar .jw-slider-time .jw-slider-container .jw-progress {
  background-color: #E54B4B;
}

.jwplayer .jw-controlbar .jw-slider-time .jw-slider-container .jw-knob {
  background-color: #E54B4B;
}



/* Settings Menu */
.jwplayer .jw-settings-menu {
  background-color: transparent;
}

.jwplayer .jw-settings-menu .jw-settings-topbar {
  background-color: #92DCE5;
}

.jwplayer .jw-settings-menu .jw-settings-topbar .jw-icon:hover {
  color: #1E1E1E;
}

.jwplayer .jw-settings-menu .jw-settings-submenu {
  background-color: rgba(255, 255, 255, .65);
}

.jwplayer .jw-settings-menu .jw-settings-content-item {
  color: #1E1E1E;
}

.jwplayer .jw-settings-menu .jw-settings-content-item:hover,
.jwplayer .jw-settings-menu .jw-settings-item-active {
  color: #E54B4B;
  font-weight: bold;
}
