/*
demo styles
*/

@keyframes minimizeVideo {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes unminimizeVideo {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.player-container {
	background-color: black;
	float: left;
	margin: 20px 20px 10px 0;
	width: 500px;
}

.player-position {
	transition: transform 300ms ease;
}

.player-position {
	transition: opacity 250ms ease, transform 250ms ease;
}

.player-position-minimize {
	animation: minimizeVideo 250ms ease both;
	background-color: #fff;
	border-radius: 3px;
	bottom: 20px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
	left: 20px;
	padding: 5px;
	position: fixed;
	width: 300px;
	z-index: 1;
}

.player-position-unminimize {
	animation: unminimizeVideo 400ms ease both;
}

/*
overrides for developer site defaults (for presentation only, non-demo styles)
*/

.demo-single .demo-layout-content .jwplayer {
	margin: 0;
}

.demo-layout-content {
	text-align: left;
}

.demo-single .demo-layout-content h1 {
	font-size: 56px;
	font-weight: 500;
}

.demo-single .demo-layout-content h2 {
	font-size: 32px;
	font-weight: 400;
	margin-top: 20px;
}

.demo-single .demo-layout-content p,
.demo-single .demo-layout-content p + p {
	margin-top: 20px;
}

.demo-single .demo-layout-vertical .demo-layout-code {
	max-width: 900px;
	width: 100%;
}
