@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

@media (min-width: 960px) {
  .demo-layout-content .jwplayer {
    margin-bottom: 0;
}

.wrapper {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.header-bar {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.video-wall {
  display: flex;
  flex-direction: column;
  background: #000;
}

.row-of-six {
  display: flex;
}

.row-of-two {
  display: flex;
  flex-grow: 1;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.thumb {
  min-width: 250px;
  min-height: 140.63px;
  position: relative;
  opacity: 1;
  background-size: calc(100% + 40px);
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
  -webkit-transition: background-size .3s ease-in-out;
  -ms-transition: background-size .3s ease-in;
  -o-transition: background-size .3s ease-in;
  cursor: pointer;
  border: 1px solid #000;
}

.thumb.large {
  min-width: 500px;
  min-height: 281.25px;
}

.title-text {
  color: #fff;
  text-align: left;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  bottom: -20px;
  opacity: 0;
  transition: all .2s ease-in-out .1s;
  -webkit-transition: all .2s ease-in-out .1s;
  -ms-transition: all .2s ease-in-out .1s;
  -o-transition: all .2s ease-in-out .1s;
}

.thumb.large .title-text {
  font-size: 20px;
  padding: 10px;
}

.thumb.show-title {
  background-size: calc(100% + 20px);
}

.show-title .title-text {
  opacity: 1;
  bottom: 0;
}
