#container {
    background-color: #000;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

.jwplayer {
    float: left !important;
    width: 70% !important;
}

.jw-feed {
    padding-top: 30px;
    width: 30%;
    margin: 0;
    position: relative;
    float: left;
    height: 470px;
    overflow: scroll;
}

.jw-option {
    border-bottom: 1px solid #333;
    padding: 10px 0 6px 10px;
}

.jw-thumbnail {
    width: 120px;
    height: 68px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.jw-item-title {

    font-size:1em;
    color: red;
}

.jw-item-description {
    font-size:.75em;
    color: red;
}

.jw-item-duration {
    font-size:.75em;
    color: red;
}