.jw-skin-mk .jw-controlbar {
	align-items: center;
	background: linear-gradient(180deg, transparent, black);
	box-sizing: border-box;
	display: flex;
	height: auto;
	left: 0;
	padding: 10px 0;
	right: 0;
}

.jw-skin-mk .jw-controlbar-center-group {
	padding: 0 20px;
	position: absolute;
	top: -10px;
}

.jw-skin-mk .jw-controlbar-left-group,
.jw-skin-mk .jw-controlbar-right-group {
	flex: 1;
	padding: 0 20px;
}

.jw-skin-mk .jw-controlbar-right-group {
	text-align: right;
}

.jw-skin-mk .jw-slider-container,
.jw-skin-mk .jw-rail,
.jw-skin-mk .jw-buffer,
.jw-skin-mk .jw-progress {
	border-radius: 50px;
}

.jw-skin-mk .jw-rail {
	background-color: rgba(247, 247, 247, 0.6);
}

.jw-skin-mk .jw-buffer {
	background-color: rgba(235, 235, 235, 1);
}

.jw-skin-mk .jw-progress {
	background-color: #00C669;
}

.jw-skin-mk .jw-knob {
	background-color: #fff;
	border: none;
	border-radius: 100%;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	display: block;
	height: 16px;
	margin-top: -4px;
	transition: transform 200ms ease-in-out;
	width: 16px;
	z-index: 1;
}
.jw-skin-mk .jw-knob:hover,
.jw-skin-mk .jw-knob:active {
	transform: scale(1.3);
}
