.toggle-button {
  background: white;
  border: 1px solid;
  margin: 0 0 1em;
  padding: 0.5em 1em;
}

.toggle-button.toggle-button-on {
  background: #0a71dc;
  font-weight: 400;
  color: white;
}

.player-demo-wrapper {
  display: none;
}

.player-demo-wrapper.demo-toggle-on {
  display: flex;
}

.player-demo-wrapper p {
  font-size: 1em;
}

.player {
  flex: 3 1 auto;
}

.player #out-player-demo {
  margin: 0;
}

.playlist-wrapper {
  flex: 1 1 auto;
  position: relative;
  overflow: auto;
  margin-left: 0.5em;
}

.playlist {
  position: absolute;
  background: #ddd;
  width: 100%;
  list-style: none;
}

.playlist li a {
  color: #0a71dc;
  padding: 1em 0;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #F7F8FA;
}

.playlist li a.active, .playlist li a:hover:not(.active) {
  background: #0a71dc;
  color: #F7F8FA;
  transition: 150ms all ease-in-out;
}

.playlist-thumbnail {
  width: 10em;
}

.demo-layout-vertical .demo-layout-code {
  max-width: 1000px;
  width: 100%;
}

@media (max-width: 760px) {
  .player-demo-wrapper.demo-toggle-on {
    display: block;
  }

  .playlist-wrapper {
    margin-left: 0;
  }

  .playlist-wrapper, .playlist {
    position: static;
  }

  .playlist li a {
    display: flex;
    align-items: center;
    padding: 1em;
  }

  .playlist-thumbnail {
    margin-right: 1em;
  }
}
