#logs {
	text-align: left;
	color: #00C669;
}

.metadata-info,
.note {
	text-align: left;
	font-size: 20px;
}

.header {
	font-weight: 600;
	text-transform: uppercase;
}

.data {
	font-weight: 300;
	margin-left: 7px;
	text-transform: none;
}

.note {
	margin-top: 20px;
	font-style: italic;
}

.audio-img {
	height: auto;
	width: 480px;
}

@media screen and (max-width: 600px) {
	.audio-img {
		width: 100%;
	}
}
