.settings {
	text-align: left;
	margin-right: 20px;
}

.settings label {
	color: #000;
	display: block;
	margin-top: 20px;
}

.settings input {
	margin-top: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: initial;
	border-radius: 3px;
	border-color: #000;
}

.settings select {
	width: 100%;
	border: 1px solid @primary-gray;
}

#player {
	margin-top: 40px;
}