<div ng-controller="FeedCtrl">
  <h2 class="jw-feed-title">{{feed_title}}</h2>
  <div ng-show="show_message" class="jw-feed-error">
      No recommendations found. Re-using the previous feed.
  </div>
  <div class="row jw-option" ng-repeat="item in feed" ng-click="loadVideo(item)">
      <div class="jw-thumbnail-container">
        <img src="{{item.image}}" class="jw-thumbnail"/>
      </div>

    <div class="jw-metadata-container">
      <h3 class="jw-media-title">{{item.title}}</h3>
      <!--<p class="jw-media-description">{{item.description}}</p>-->
      <p class="jw-media-duration">{{toHms(item.sources[0].duration)}}</p>
    </div>

  </div>
</div>