<div ng-controller="FeedCtrl">
  <h2 class="jw-feed-title">My Feed</h2>
  <div class="row jw-option" ng-repeat="item in feed" ng-click="loadVideo(item)">
    <div class="col-md-4 jw-thumbnail-container">
      <img src="{{item.image}}" class="jw-thumbnail"/>
    </div>
    <div class="col-md-8 jw-metadata-container">
      <h3 class="jw-media-title">{{item.title}}</h3>
      <!--<p class="jw-media-description">{{item.description}}</p>-->
      <time class="jw-media-duration">{{item.duration}}</time>
    </div>
  </div>
</div>
