.jw-state-error > .jw-title {
	display: none !important;
}

.jw-demo {
  flex: 1;
  display: flex;
}

.player-container {
  background-color: #2d333e;
  padding: 1.5em;
  flex: 2;
  max-width: 60%;
  color: #fff;
}

.jw-feed-container {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #475470;
  overflow-y: scroll;
  padding: .75em 2em 0 2em;
  flex: 1;
  width: 40%;
}

.jw-feed-title {
  color: #fff;
  font-size: .9em;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  text-align: left;
}
.jw-option {
  border-bottom: 1px solid #2d333e;
  cursor: pointer;
  list-style: none;
  text-align: left;
}

.jw-option:last-child {
  border: none;
}

.jw-option:hover {
  background-color: rgba(45, 51, 62, .25);
}

.jw-thumbnail-container {
  background-color: #000;
  height: 63px;
  width: 30%;
  display: table-cell;
  vertical-align: middle;
}

.jw-thumbnail {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.jw-metadata-container {
  vertical-align: top;
  display: table-cell;
  padding: 1em;
}

.jw-media-title {
    font-size: .85em;
    color: #fff;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-bottom: .75em;
}

.jw-media-description {
    font-size: .75em !important;
    color: rgba(255,255,255,.5);
}

.jw-media-duration {
    font-size:.75em;
    color: white;
    display: block;
}

.jw-feed-error {
  color: rgba(255,255,255,.5);
  font-size: 1em;
  text-align: center;
  position: relative;
  top: 5em;
}

/* -------- */

.widget-description {
  font-size: 17px !important;
}
