<div id="demos-container">

  <header>
    <h2>JW Player Demos and Code Examples</h2>
    <p>Below you can find basic examples of extending feature functionality of the player. <br>Check back as more demos and examples are added to support new features.</p> 
  </header>

  <div id="demos-list">
    <% for ( var i = 0; i < demos.length; i++ ){%>
      <% if( i % 4 == 0 ){ %>
        <div class="section group">
      <% } %>
      <div class="col span_1_of_4">
        <div class="demo-item">
          <a href="/demos/<%= demos[i].id %>"><%= demos[i].title %></a>
          <p><%= demos[i].description %></p>
        </div>
      </div>
      <% if( ((i+1) % 4 == 0 ) || (i == demos.length )){ %>
       </div>
      <% } %>
    <% } %>
      
  </div>

</div>



