<nav>
	<div class="section group">
		<div class="col span_1_of_3">
			<a href="//developer.jwplayer.com"><img src="//icons.jwplayer.com/social/jw-logo-white.svg" width="104"/></a><p>developer</p>
		</div>

		<div class="col span_2_of_3">
			<ul>
				<li><a href="//support.jwplayer.com">support</a></li>
				<li><a href="//github.com/jwplayer/jwplayer">github</a></li>
				<li><a href="//stackoverflow.com/questions/tagged/jwplayer">stackoverflow</a></li>
				<li><a href="//www.jwplayer.com/blog/">blog</a></li>
				<li><a href="//www.jwplayer.com/company/careers/">careers</a></li>
			</ul>
		</div>
</nav>